body{

    background-color: gray;
    margin: 0;
    font-family: 'Avenir';
}

.square{
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float:left;
    margin: 1.66%;
    border-radius: 14%;
    transition:  all 1.0s;

}

#container {
    margin: 0 auto;
    max-width: 600px;
}
h1{
    color: white;
    text-align: center;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
}


#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;

}

.selected 
{
    background-color: aqua;
    color: white;
    background: steelblue;
}
button{
    border: none;
    background: none;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    font-size: inherit;
    transition: all 0.2s;
}

#message {
  display: inline-block;  
  width: 20%;
}
button:hover{
    color: white;
    background: steelblue;
}